VITE_AUTH_API_URL=/api
VITE_SOLANA_NETWORK=devnet
VITE_SOLANA_ESCROW_PROGRAM=So11111111111111111111111111111111111111112
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_SOLANA_ESCROW_TREASURY=
